<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>24-Pay.</title>
    <link th:href="@{/main.fbbd065a.css}" rel="stylesheet"/>

</head>
<body>
<main class="payment-form">

    <section class="payment-wrapper centered">

        <header class="payment-form__header payment-form__header--error">
            <h1>An error has occurred...</h1>
        </header>


        <div class="payment-form__img">
            <img th:src="@{/24pay.jpg}" alt="24-pay" />
        </div>
    </section>
</main>

<footer>By DoggeHill</footer>
</body>
</html>
